{% extends "default.twig" %}

{% block body_class %}  main-page {% endblock %}

{% block title %}
    Yay4Monday - Tech companies with happy and engaged employees
{% endblock %}

{% block styles %}{% endblock %}


{% block page %}
    {% include "header.twig" %}

    <div class="test">
        Test
    </div>


{% endblock %}
